<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>

        <div class="details content">
            <h2><%= blog.title %></h2>
            <div class="content">
                <p><%= blog.body %></p>
            </div><div class="edits-button">
            <a class="delete" data-doc="<%= blog._id %>">delete</a>
            <a class="edit" href="/blogs/<%= blog._id %>/edit">edit</a>
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>

        <script>
            const trashcan = document.querySelector('a.delete');
            trashcan.addEventListener('click', (e) =>{
                e.preventDefault(); 
                
                const blogId = trashcan.dataset.doc;
                
                const endpoint = `/blogs/${blogId}`;

                
                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => {
                    if (response.ok) {
                        
                        window.location.href = '/blogs';
                    } else {
                        console.error('Failed to delete blog');
                    }
                })
                .catch(err => console.log(err));
            })
        </script>

    </body>
</html>